@use "./variables";
@use "./typography";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

button {
  cursor: pointer;
  border: none;
  background: none;
  font: inherit;
}

input,
textarea,
select {
  font: inherit;
}

li {
  list-style: none;
}

[id] {
  scroll-margin-top: 6rem;

  @include tablet {
    scroll-margin-top: 5.75rem;
  }

  @include desktop {
    scroll-margin-top: 5.5rem;
  }
}
